<p>This is the report annotation tool for gathering a human generated gold
  standard for comparison against automated methods for providing feedback to
  radiologists on the quality of a free text report.</p>

<p>Summary of capstone project...</p>



{{outlet}}
